<div class="popDown">
    
    <div class="col-9 col-m-9 leftImage">
        <img class="col-9 col-m-9" src ="http://www.skiheavenly.com/~/media/heavenly/images/732x260%20header%20images/events-heavenly-header.ashx" alt="some description"/>
    </div>

    <i class="fa fa-times close" aria-hidden="true" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'></i>

    <div class="col-3 col-m-3 rightDetail">
        <h3 class="title">Party Like There Is No Tomorrow</h3>
        <h4 class="urlLink">www.google.com</h4>
        <p class="description">OI OI OI description yada yada peanuts etc this is a short description yada yada peanuts etc this is a short description yada yada peanuts etc this is a short description yada yada peanuts etcthis is a short description yada yada peanuts etc </p>
    </div>

</div>