
		      <div class="col-md-4 box">
              <div class="thumbnail">
                <img src="{{act.thumbnail}}" alt="">
                <div class="caption">
                  <h4 class='title'>Thrthtrhtrhtrhtrhtrhtrhthrthhtrhtrhtrhtr</h4>
                  <h6 class="startdate">StartDate - Endate</h6>
                  <h6 class="url"><a>www.google.com</a></h6>
                  <p class='description'>THIS IS SO BULLSHIT I THINK THIS IS JUST A WASTE OF TIME I WANNA GIVE UP AND GO HOME BUT I CANT BECAUSE I NEED TO SHOW SOMETHINGegregregregr</p>
                </div>
                <div class="button">
                  <button class='btn btn-success'>Join Event</button>
                  <br>
                  <br>
                </div>
              </div>
            </div>

<!--{{act.description}}-->
<!--<p>{{act.description}}-->
