<div class="col-md-8 col-md-offset-2">
    <!--tells ng to use our form, 'myForm'-->
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <span *ngIf="titlechar > 0 && titlechar < 6">(min char: {{titlechar}})</span>
            <span class="danger" *ngIf="titlechar < -34">(max char: 40)</span>
            <input 
                type="text"
                placeholder="Enter title here"
                id="title"
                class="form-control"
                formControlName="title"
                [ngModel]="act?.title"
                (keyup)='inputCounter()'>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select
                class="form-control"
                id="category"
                formControlName="category"
                [ngModel]="act?.category">
                <option value="" [selected]="true" disabled hidden>Select a category</option>
                <option
                        *ngFor="let category of categories"
                        [value]="category">{{category}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="details">Details</label>
            <span *ngIf="detailschar > 0 && detailschar < 20">(min char: {{detailschar}})</span>
            <span class="danger" *ngIf="detailschar < -80">(max char: 100)</span>
            <textarea
                rows="4"
                placeholder="Describe the act"
                id="details"
                class="form-control"
                formControlName="details"
                [ngModel]="act?.details"
                (keyup)='inputCounter()'>
            </textarea>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input
                type="text"
                placeholder="Search for address"
                id="address"
                class="form-control"
                formControlName="address"
                [ngModel]="act?.address">
        </div>
        <div class="form-group">
            <label for="capacity">Capacity</label>
            <span class="danger" *ngIf="capchar < 1">(Invalid Capacity)</span>
            <span class="danger" *ngIf="capchar > 99999">(Max: 99999 pax)</span>
            <input
                type="number"
                placeholder="Capacity of act"
                id="capacity"
                class="form-control"
                formControlName="capacity"
                [ngModel]="act?.capacity"
                (keyup)='inputCounter()'>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <span *ngIf="!myForm.valid">( jpg/ png/ jpeg)</span>
            <input
                type="text"
                placeholder="https://image.png"
                id="picture"
                class="form-control"
                formControlName="picture"
                [ngModel]="act?.picture">
        </div>
        <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <span>( jpg/ png/ jpeg)</span>
            <input
                type="text"
                placeholder="https://image.png"
                id="thumbnail"
                class="form-control"
                formControlName="thumbnail"
                [ngModel]="act?.thumbnail">
        </div>
        <div class="form-group">
            <label for="websiteurl">Website Url</label>
            <input
                type="text"
                placeholder="https://gowhere.com.sg"
                id="websiteurl"
                class="form-control"
                formControlName="websiteurl"
                [ngModel]="act?.websiteurl">
        </div>
        <div class="form-group">
            <label for="starttime">Start Time</label>
            <input
                type="datetime-local"
                id="starttime"
                class="form-control"
                formControlName="starttime"
                [ngModel]="act?.starttime">
        </div>
        <div class="form-group">
            <label for="endtime">End Time</label>
            <input
                type="datetime-local"
                id="endtime"
                class="form-control"
                formControlName="endtime"
                [ngModel]="act?.endtime">
        </div>
        <button 
                type="button"
                class="btn btn-danger"
                (click)="onClear()">Clear
        </button>
        <!--disable button if form not valid-->
        <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!myForm.valid">Save
        </button>
    </form>
</div>