<div class="row">
    <article class="popDown">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">


        <div class="col-md-5">
            <h3>Act Thumbnail</h3>
            <img class="col-md-6" src ="{{thumbnailinput}}" alt="act thumbnail preview"/>

            <br>

            <div class="col-md-6 form-group">
                <input
                    type="text"
                    placeholder="Thumbnail url (jpg/ png/ jpeg)"
                    id="thumbnail"
                    class="form-control"
                    formControlName="thumbnail"
                    [ngModel]="act?.thumbnail"
                    (keyup)='inputCounter()'>
            </div>
            
        </div>
        

        <div class="col-md-4 rightDetail">
            <div class="form-group">
                <label></label>
                <span *ngIf="titlechar > 0 && titlechar < 6">(char left: {{titlechar}})</span>
                <span class="danger" *ngIf="titlechar < -34">(max char: 40)</span>
                <input 
                    type="text"
                    placeholder="Title"
                    id="title"
                    class="form-control"
                    formControlName="title"
                    [ngModel]="act?.title"
                    (keyup)='inputCounter()'>
            </div>

            <br>

            <div class="form-group">
                <select
                    class="form-control"
                    id="category"
                    formControlName="category"
                    [ngModel]="act?.category">
                    <option value="" [selected]="true" disabled hidden>Select a category</option>
                    <option
                            *ngFor="let category of categories"
                            [value]="category">{{category}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label></label>
                <span *ngIf="detailschar > 0 && detailschar < 50">(char left: {{detailschar}})</span>
                <span class="danger" *ngIf="detailschar < -350">(max char: 400)</span>
                <textarea
                    rows="4"
                    placeholder="Details"
                    id="details"
                    class="form-control"
                    formControlName="details"
                    [ngModel]="act?.details"
                    (keyup)='inputCounter()'>
                </textarea>
            </div>

            <br>
            
            <div class="form-group">
                <input
                    type="text"
                    placeholder="Company website e.g. https://gowhere.com.sg"
                    id="websiteurl"
                    class="form-control"
                    formControlName="websiteurl"
                    [ngModel]="act?.websiteurl">
            </div>

            <br>
            
            <div class="form-group">
                <input
                    type="text"
                    placeholder="Address"
                    id="address"
                    class="form-control"
                    formControlName="address"
                    [ngModel]="act?.address">
            </div>

            <div class="form-group">
                <label></label>
                <span class="danger" *ngIf="capchar < 1">(Invalid Capacity)</span>
                <span class="danger" *ngIf="capchar > 99999">(Max: 99999 pax)</span>
                <input
                    type="number"
                    placeholder="Capacity"
                    id="capacity"
                    class="form-control"
                    formControlName="capacity"
                    [ngModel]="act?.capacity"
                    (keyup)='inputCounter()'>
            </div>

            <div class="col-md-6 form-group">
                <label for="starttime">Start Time</label>
                <input
                    type="datetime-local"
                    [min]="mindateinput"
                    [max]="maxdateinput"
                    id="starttime"
                    class="form-control"
                    formControlName="starttime"
                    [ngModel]="act?.starttime"
                    (keyup)='inputCounter()'>
            </div>

            <div class="col-md-6 form-group">
                <label for="endtime">End Time</label>
                <input
                    type="datetime-local"
                    [min]="mindateinput"
                    [max]="maxdateinput"
                    id="endtime"
                    class="form-control"
                    formControlName="endtime"
                    [ngModel]="act?.endtime"
                    (keyup)='inputCounter()'>
            </div>

            <br><br>

            <button 
                    type="button"
                    class="btn btn-danger"
                    (click)="onClear()">Reset
            </button>

            <!--disable button if form not valid-->
            <button
                    type="submit"
                    class="btn btn-success"
                    [disabled]="!myForm.valid">Save Changes
            </button>

        </div>
        </form>
    </article>
</div>










<!--<form>      
  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>-->