<div class="col-md-4 col-md-offset-4">
    <!--tells ng to use our form, 'myForm'-->
    <h1>Log In</h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <!--disable button if form not valid-->
        <button
                class="btn btn-success"
                type="submit"
                [disabled]="!myForm.valid">Log In</button>
    </form>
</div>



