<div class="containScroll">

<h3 class="col-md-3" *ngIf="!isAHost()">Events Joined: 5</h3>
<h3 class="col-md-3" *ngIf="isAHost()">Events Created: 5</h3>  

<div class="container-fluid">
    <div class="row" id="nav-row">


    	<div class="col-md-3" >
			<ul class="list-group nav" role="tablist">

				  <li>
					  <a class="thumbnail" href="#seite1" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
             
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
       
                <div class="tile__details">
                  <div class="tile__title">Top Gear1</div>
                </div>
              </div>
					  </a>
				  </li>

					<li>
					  <a class="thumbnail" href="#seite2" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
       
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          
                <div class="tile__details">
                  <div class="tile__title">Top Gear2</div>
                </div>
              </div>
					  </a>
				  </li>

					<li>
					  <a class="thumbnail" href="#seite2" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
       
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          
                <div class="tile__details">
                  <div class="tile__title">Top Gear3</div>
                </div>
              </div>
					  </a>
				  </li>

					<li>
					  <a class="thumbnail" href="#seite2" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
       
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          
                <div class="tile__details">
                  <div class="tile__title">Top Gear4</div>
                </div>
              </div>
					  </a>
				  </li>

          <li>
					  <a class="thumbnail" href="#seite2" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
       
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          
                <div class="tile__details">
                  <div class="tile__title">Top Gear5</div>
                </div>
              </div>
					  </a>
				  </li>

          <li>
					  <a class="thumbnail" href="#seite2" data-toggle="tab" aria-controls="seite1" role="tab" >
					    <div class="tile">
       
                  <img class="tile__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/70390/show-1.jpg" alt=""  />
          
                <div class="tile__details">
                  <div class="tile__title">Top Gear6</div>
                </div>
              </div>
					  </a>
				  </li>

			</ul>
		</div>







		<div class="tab-content">


<article class="popDown">
    
    <!--<img class="tile__img" src="{{act.imagePath}}" alt=""  />-->
    <img class="col-md-5" src ="http://www.skiheavenly.com/~/media/heavenly/images/732x260%20header%20images/events-heavenly-header.ashx" alt="some description"/>

    <div class="col-md-4 rightDetail">
        <!--{{act.title}}--> <!--{{act.title}}-->
        <h3 class="title">Party Like There Is No Tomorrow</h3>
        
        <br>

        <!--{{act.title}}--> <!--{{act.description}}-->
        <p class="description">This is a good event. This is a very good event. People who come to this event will really enjoy it.This is a good event. This is a very good event. People who come to this event will really enjoy it.This is a good event. This is a very good event. People who come to this event will really enjoy it.This is a good event. This is a very good event. People who come to this event will really enjoy it.</p>
    
        <br>

        <!--{{act.title}}--> <!--{{act.websiteURL}}-->
        <p class="urlLink"><a class="link"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;www.google.com</a></p>

        <p><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;&nbsp;8 Claymore Hill</p>

        <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;4pm</p>

        <br>

        <button class='btn btn-primary' *ngIf="!isAHost()">View Event</button>
        <button class='btn btn-primary' *ngIf="isAHost()">Edit Event</button>

    </div>

</article>


        </div>    
          

	</div>
</div>