<article class="popDown">
    
    <!--<img class="tile__img" src="{{act.imagePath}}" alt=""  />-->
    <img src ="https://www.skiheavenly.com/~/media/heavenly/images/732x260%20header%20images/events-heavenly-header.ashx" alt="some description"/>
    
    <i class="fa fa-times close" aria-hidden="true" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'></i>

    <div class="rightDetail">

        <h3 class="title">Takashimaya</h3>
        
        <br>

        <p class="description">Sale Sale Sale</p>
    
        <br>

        <!--{{act.title}}--> <!--{{act.websiteURL}}-->
        <p class="urlLink"><a class="link"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;www.google.com</a></p>

        <p><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;&nbsp;8 Claymore Hill</p>

        <p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;4pm</p>

        <br>

        <button class='btn btn-success' (click)="joinevent()">Join Event</button>
    
    </div>

</article>