

<div class="col-md-4 box">
  <div class="thumbnail">
    <img src="{{act.thumbnail}}" alt="">
    <div class="caption">
      <h4 class='title'>{{act.title}}</h4>
      <h6 class="startdate">{{act.starttime | date:"dd/MM/yy HH:mm"}} - {{act.endtime | date:"dd/MM/yy HH:mm"}}</h6>
      <h6 class="url"><a href="{{act.websiteurl}}">{{act.websiteurl}}</a></h6>
      <p class='description'>{{act.details}}</p>
    </div>
    <div class="button">
      <button class='btn btn-warning' *ngIf='isAHost()' (click)="editEvent()">Edit Event</button>
      <br>
      <br>
    </div>
  </div>
</div>